#main-slider{
}

#main-slider .item img{
	width: 100%;
}
.main-carousel .carousel-caption{
    text-shadow: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
	text-shadow:none
}
.main-carousel .carousel-caption a{
	color : #fff
}

.main-carousel .caption-title{
	margin: 24px 0;
    font-size: 40px;
    font-weight: bold;
}
@media (max-width: 960px){
	.main-carousel .caption-title{
		font-size: 32px;
	}
}